.main-view-of-2nd-screen {
  background-image: url("../../../../assets/background_gift.jpg");
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.wish-zone {
  position: relative;
  width: 60%;
  display: none;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px -1px 40px -10px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px -1px 40px -10px rgba(0, 0, 0, 0.65);
  box-shadow: 0px -1px 40px -10px rgba(0, 0, 0, 0.65);
  transform: rotate(-5deg);
}

.wish-quote {
  color: red;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 21px;
}

.blossom-top-left {
  position: absolute;
  top: 0;
  left: 0
}

.blossom-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0
}

.from-author {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  font-size: 15px;
  font-family: 'Pacifico', cursive;
}

.textBox{
  margin-bottom: 20px;
  font-size: 15px;
  font-family: 'Pacifico', cursive;
}

.wrapGiftBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor:pointer;
}

.mainGiftBox,
.lidGiftBox{
  align-self: center;
}

.lidGiftBox__lid,
.mainGiftBox__main{
  max-width: 260px;
}

.lidGiftBox__lid {
  animation: 1s wiggle infinite linear;
  /* animation-timing-function: cubic-bezier(1, 0, 0, 1); */
}

.wrapTextArrow{
  width: max-content;
  margin-bottom: 20px;
}

@keyframes wiggle {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes rotating-main-box{
  0% {
    transform: translateY(0px);
  }

  100%{
    transform: translateY(300px);
    opacity: 0;
    display: none;
  }
}


@keyframes rotating {
  0% {
    transform: rotate(0deg) translate(15%, 0);
  }

  100% {
    transform: rotate(145deg) translate(-100%, -250px);
    opacity: 0;
  }
}

@keyframes rotating-arrow-hidden {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100%{
    opacity: 0;
    display: none;
  }
}

.rotating-down{
  animation: 1s rotating-main-box;
}

.rotating-arrows{
  animation: 1s rotating-arrow-hidden;
}

.rotating {
  animation: 1s rotating;
}

.rotated {
  transform: rotate(145deg) translate(-100%, -250px);
  opacity: 0;
  display: none;
}

.arrows {
  position: relative;
  top: 50%;
  left: 57%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.arrows:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 5px solid rgba(0, 0, 0, 0.7);
  border-bottom: 5px solid rgba(0, 0, 0, 0.7);
  transform: translate(26.66667px, 20px) rotate(-45deg);
  animation: arrows 1.5s linear infinite;
}

.arrows:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 5px solid rgba(0, 0, 0, 0.7);
  border-bottom: 5px solid rgba(0, 0, 0, 0.7);
  transform: translate(10px, 0px) rotate(-45deg);
  animation: arrows 1.5s linear infinite -0.75s;
}

@keyframes arrows {
  0% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: translate(-13.33333px, -23.33333px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  50% {
    border-left: 5px solid rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
    transform: translate(-13.33333px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: translate(-13.33333px, 23.33333px) rotate(-45deg);
  }
}


@media only screen and (min-width: 890px) {
  /* For everything bigger than 890px */
  .wish-quote {
    width: 40vw;
    margin-left: 50px;
    margin-right: 50px;
  }
}