.main-view {
  min-height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  overflow: hidden;
}

.logo-year-number {
  margin-top: 100px;
  height: 200px;
  animation: logo 2s;
}

.first-page-bottom-decoration {
  position: absolute;
  bottom: 0;
  background-image: url('../../../../assets/bottom_page_1_deco.svg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

@keyframes logo {
  from {
    opacity: 0;
    height: 100px;
  }

  to {
    opacity: 1;
    height: 200px;
  }
}

@keyframes logo-responsive {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 450px) {
  /* For everything smaller than 320px */
  .logo-year-number {
    height: 250px;
    margin-bottom: 100px;
    animation: logo-responsive 2.5s;
  }
  
  .first-page-bottom-decoration {
    background-size: cover;
    height: 250px;
  }
}

@media only screen and (max-width: 800px) {
  /* For everything smaller than 320px */
  .logo-year-number {
    height: 150px;
    margin-top: 0px;
  }

  .main-view {
    justify-content: center;
  }
}