.main-view {
  scroll-behavior: smooth;
}

.tap-to-open-main-view {
  background-image: url("../../assets/app_background_2.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.click-to-play {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  text-align: center;
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 35px;
}